<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Gaia Sprints</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="google-site-verification" content="LpOE4OuR1XW6QL8z1OlZUOMctATka6stXprZmVojzd0" />
  </head>
  <body>
    <div class="wrapper">
      
      {% include_relative sidebar.html %}	    

      <section>

    <h2>Gaia Sprint Codes of Conduct</h2><a id="2016NYC"></a>

        <p><i>There are two codes of conduct applicable to the Gaia Sprints.</i></p>

	<h3>General Code of Conduct</h3>
	<p>The Gaia Sprints organizers are dedicated to providing a
	  harassment-free conference experience for everyone,
	  regardless of gender, gender identity and expression, age,
	  sexual orientation, disability, physical appearance, body
	  size, race, ethnicity, religion (or lack thereof), or
	  technology choices. We do not tolerate harassment of
	  conference participants in any form. Sexual language and
	  imagery is not appropriate for any conference venue,
	  including talks, workshops, parties, Twitter and other
	  online media. Participants violating these rules may be
	  sanctioned or expelled from the Gaia Sprint without a refund
	  at the discretion of the conference organizers.</p>
	<p>Harassment includes offensive verbal comments related to
	  gender, gender identity and expression, age, sexual
	  orientation, disability, physical appearance, body size,
	  race, ethnicity, religion, technology choices, sexual images
	  in public spaces, deliberate intimidation, stalking,
	  following, harassing photography or recording, sustained
	  disruption of talks or other events, inappropriate physical
	  contact, and unwelcome sexual attention.</p>
	<p>Participants asked to stop any harassing behavior are
	  expected to comply immediately. If a participant engages in
	  harassing behavior, the organizers may take any action they
	  deem appropriate, including warning the offender or
	  expulsion from the Gaia Sprint with no refund.</p>
	<p>If you are being harassed, notice that someone else is
	  being harassed, or have any other concerns, please contact
	  an organizer immediately. Organizers will be happy to help
	  participants contact local law enforcement, provide escorts,
	  or otherwise assist those experiencing harassment to feel
	  safe for the duration of the Gaia Sprint. We value your
	  attendance.</p>
	<p>We expect participants to follow these rules during the
	  Gaia Sprint and during related social events.</p>

	<h3>Collaboration Policy</h3>
	<p>All participants at every Gaia Sprint will be expected to openly
	  share their ideas, expertise, code, and interim results.
	  Project development will proceed out in the open, among
	  participants and in the world.</p>
	<p>Participants will be encouraged to change gears, start new
	  collaborations, and combine projects.  Any participant who
	  contributes significantly to a project can expect
	  co-authorship on resulting scientific papers, and any
	  participant who gets signficant contributions to a project
	  is expected to include those contributors as co-authors.</p>
	<p>These rules make it <i>inadvisable to bring proprietary
	  data sets or proprietary code</i> to any Sprint, unless the
	  participant bringing such assets has the rights to open them
	  or add collaborators.</p>

    </section>

    {% include_relative footer.html %}

    </div>
    <script src="javascripts/scale.fix.js"></script>

  </body>
</html>
