<header>
  <h1><a href="http://gaia.lol">Gaia Sprints</a></h1>
  <table>
    <tr>
      <th>url:</th>
      <td><a href="http://gaia.lol">http://gaia.lol</a></td>
    </tr>
    <tr>
      <th>hashtag:</th>
      <td><a href="https://twitter.com/hashtag/GaiaSprint">#GaiaSprint</a></td>
    </tr>
  </table>
      <p>A project to support exploration and scientific use of the
        <a href="http://www.cosmos.esa.int/web/gaia/release"><i>Gaia</i> Data Releases</a>.
        The current release is
        <a href="https://www.cosmos.esa.int/web/gaia/edr3"><i>Early Data Release 3</i></a>.</p>
  <div class="card">
        <h2>next up: the <a href="2021NYC.html">2021 NYC Gaia Sprint</a></h2>
  </div>
  <div class="card">
        <h2>Future events:</h2>
    <p>
      <b><a href="2021NYC.html"><b>2021 NYC Gaia Sprint</b></a></b>
    </p>
  </div>
  <div class="card">
        <h2>Past events:</h2>
    <p>
      <a href="2020unboxing.html">2020 EDR3 Unboxing Gaia Sprint</a><br />
      <a href="2019SB.html"><b>2019 Santa Barbara Gaia Sprint</b></a><br />
      <a href="2019OXF.html"><b>2019 Gaia Sprint: Oxford Satellite</b></a><br />
      <a href="2019SEA.html"><b>2019 Gaia Sprint: Seattle Satellite</b></a><br />
      <a href="2018NYC.html"><b>2018 NYC Gaia Sprint</b></a><br />
      <a href="2018SEA.html"><b>2018 Gaia Sprint: Seattle Satellite</b></a><br/>
      <a href="2018SB.html"><b>2018 Gaia Sprint: Santa Barbara Satellite</b></a><br/>
      <a href="2018zero.html"><b>2018 DR2 Zero-Day Workshop</b></a><br />
      <a href="2017HD.html"><b>2017 Heidelberg Gaia Sprint</b></a><br/>
      <a href="2016NYC.html"><b>2016 NYC Gaia Sprint</b></a>
    </p>
  </div>
</header>
