<header>
  <h1><a href="http://gaia.lol">Gaia Sprints</a></h1>
  <table>
    <tr>
      <th>url:</th>
      <td><a href="http://gaia.lol">http://gaia.lol</a></td>
    </tr>
    <tr>
      <th>hashtag:</th>
      <td><a href="https://twitter.com/hashtag/GaiaSprint">#GaiaSprint</a></td>
    </tr>
  </table>
      <p>A project to support exploration and scientific use of the
        <a href="http://www.cosmos.esa.int/web/gaia/release"><i>Gaia</i>
        Data Releases</a>.</p>
  <div class="card">
        <h2><a href="2017HD.html">2017 Heidelberg Gaia Sprint</a></h2>
    <p><b>2017 July 17 through 21</b></p>
        <p>At the <a href="http://www.iwh.uni-hd.de/index_engl.html">Internationales
        Wissenschaftsforum Heidelberg</a>.</p>
  </div>
  <div class="card">
        <h2>Future events:</h2>
    <ul>
      <li><a href="2018NYC.html"><b>2018 NYC Gaia Sprint</b></a></li>
      <li><a href="2019SB.html"><b>2019 Santa Barbara Gaia Sprint</b></a></li>
    </ul>
  </div>
  <div class="card">
        <h2>Past events:</h2>
    <ul>
      <li><a href="2016NYC.html"><b>2016 NYC Gaia Sprint</b></a></li>
    </ul>
  </div>
</header>
